[Unit]
Description=Resumate Backend
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/resumate/backend
ExecStart=/usr/bin/npm run start:prod
Environment=PORT=5001
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target